@model BiPro_Analytics.Models.RiesgosTrabajador
@{
    ViewData["Title"] = "Trabajadores";
}


<section id="trabajadores" class="d-flex align-items-cente min-vh-100">
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Riesgos de trabajadores dentro de Bipro Analytics</h1>

            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        Bucar por trabajador:
                        <select asp-for="IdTrabajador" asp-items="@(new SelectList(@ViewBag.Trabajadores,"Id","Trabajador"))">
                            <option selected disabled>Seleccionar trabajador</option>
                        </select>
                        <input type="submit" value="Buscar" class="btn btn-default" />
                    </p>
                </div>
            </form>
            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        Buscar por Unidad:
                        <select title="Unidad" name="IdUnidad" asp-items="@(new SelectList(@ViewBag.Unidades,"Id","Name"))">
                            <option selected disabled>Seleccionar unidad</option>
                        </select>
                    </p>
                </div>
                <div class="form-actions no-color">
                    <p>
                        Area:
                        <select name="IdArea" asp-items="@(new SelectList(@ViewBag.Areas,"Id","Name"))">
                            <option selected disabled>Seleccionar unidad</option>
                        </select>
                    </p>
                </div>
                <input type="submit" value="Buscar" class="btn btn-default" />
            </form>
            <div>
                <a asp-action="Index">Regresar lista completa</a>
            </div>

        </div>
    </div>

</section><!-- End About Section -->



