@model PROWAnalytics.Models.Empresa

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Empresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RazonSocial" class="control-label"></label>
                <input asp-for="RazonSocial" class="form-control" />
                <span asp-validation-for="RazonSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RFC" class="control-label"></label>
                <input asp-for="RFC" class="form-control" />
                <span asp-validation-for="RFC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActividadPrincipal" class="control-label"></label>
                <input asp-for="ActividadPrincipal" class="form-control" />
                <span asp-validation-for="ActividadPrincipal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sector" class="control-label"></label>
                <input asp-for="Sector" class="form-control" />
                <span asp-validation-for="Sector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calle" class="control-label"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroExt" class="control-label"></label>
                <input asp-for="NumeroExt" class="form-control" />
                <span asp-validation-for="NumeroExt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroInt" class="control-label"></label>
                <input asp-for="NumeroInt" class="form-control" />
                <span asp-validation-for="NumeroInt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colonia" class="control-label"></label>
                <input asp-for="Colonia" class="form-control" />
                <span asp-validation-for="Colonia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciudad" class="control-label"></label>
                <input asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Municipio" class="control-label"></label>
                <input asp-for="Municipio" class="form-control" />
                <span asp-validation-for="Municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CP" class="control-label"></label>
                <input asp-for="CP" class="form-control" />
                <span asp-validation-for="CP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aministrador" class="control-label"></label>
                <input asp-for="Aministrador" class="form-control" />
                <span asp-validation-for="Aministrador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puesto" class="control-label"></label>
                <input asp-for="Puesto" class="form-control" />
                <span asp-validation-for="Puesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadEmpleados" class="control-label"></label>
                <input asp-for="CantidadEmpleados" class="form-control" />
                <span asp-validation-for="CantidadEmpleados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SueldoMinimo" class="control-label"></label>
                <input asp-for="SueldoMinimo" class="form-control" />
                <span asp-validation-for="SueldoMinimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SueldoMaximo" class="control-label"></label>
                <input asp-for="SueldoMaximo" class="form-control" />
                <span asp-validation-for="SueldoMaximo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SueldoPromedio" class="control-label"></label>
                <input asp-for="SueldoPromedio" class="form-control" />
                <span asp-validation-for="SueldoPromedio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroSucursales" class="control-label"></label>
                <input asp-for="NumeroSucursales" class="form-control" />
                <span asp-validation-for="NumeroSucursales" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Comedor" /> @Html.DisplayNameFor(model => model.Comedor)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TransporteTrabajadores" /> @Html.DisplayNameFor(model => model.TransporteTrabajadores)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ServicioMedico" /> @Html.DisplayNameFor(model => model.ServicioMedico)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SGMM" /> @Html.DisplayNameFor(model => model.SGMM)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TrabajadoresConSGMM" class="control-label"></label>
                <input asp-for="TrabajadoresConSGMM" class="form-control" />
                <span asp-validation-for="TrabajadoresConSGMM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreAseguradora" class="control-label"></label>
                <input asp-for="NombreAseguradora" class="form-control" />
                <span asp-validation-for="NombreAseguradora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreAgenteSeguros" class="control-label"></label>
                <input asp-for="NombreAgenteSeguros" class="form-control" />
                <span asp-validation-for="NombreAgenteSeguros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorasLaborales" class="control-label"></label>
                <input asp-for="HorasLaborales" class="form-control" />
                <span asp-validation-for="HorasLaborales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiasLaborales" class="control-label"></label>
                <input asp-for="DiasLaborales" class="form-control" />
                <span asp-validation-for="DiasLaborales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoEmpresa" class="control-label"></label>
                <input asp-for="CodigoEmpresa" class="form-control" />
                <span asp-validation-for="CodigoEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DescartarUnidades" /> @Html.DisplayNameFor(model => model.DescartarUnidades)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DescartarAreas" /> @Html.DisplayNameFor(model => model.DescartarAreas)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
