@model IEnumerable<PROWAnalytics.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RFC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActividadPrincipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroExt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroInt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colonia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aministrador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadEmpleados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SueldoMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SueldoMaximo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SueldoPromedio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroSucursales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransporteTrabajadores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicioMedico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SGMM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrabajadoresConSGMM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreAseguradora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreAgenteSeguros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasLaborales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasLaborales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescartarUnidades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescartarAreas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActividadPrincipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroExt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroInt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colonia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Municipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aministrador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadEmpleados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SueldoMinimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SueldoMaximo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SueldoPromedio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroSucursales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransporteTrabajadores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicioMedico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SGMM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrabajadoresConSGMM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAseguradora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAgenteSeguros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasLaborales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasLaborales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescartarUnidades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescartarAreas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEmpresa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEmpresa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEmpresa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
