@model BiPro_Analytics.Models.Reincorporaciones

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reincorporaciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aislados15Dias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aislados15Dias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aislados30Dias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aislados30Dias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReincorporanSemAnt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReincorporanSemAnt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpleadosIncapacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpleadosIncapacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasPerdidosIncapacidadSemAnt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasPerdidosIncapacidadSemAnt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasAcumuladosMenIncapacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasAcumuladosMenIncapacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasAcumuladosTot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasAcumuladosTot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelTotalTrabajadoresTrabajadoresIncapacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelTotalTrabajadoresTrabajadoresIncapacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelDiasTrabajoDiasIncapacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelDiasTrabajoDiasIncapacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
