@model IEnumerable<PROWAnalytics.Models.SeguimientoCovid>

@{
    ViewData["Title"] = "Index";
}

<section id="trabajadores" class="d-flex align-items-cente min-vh-100">
    <div class="container">

        <h1>Lista de seguimientos</h1>

        <p>
            <a asp-action="Create">Crear nuevo</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SintomaCovid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdUbicacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaSeguimiento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaHoraRegistro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Trabajador)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SintomaCovid.Sintoma)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UbicacionActual.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaSeguimiento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaHoraRegistro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trabajador.Nombre)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a asp-action="Dashboard">Regresar</a>

    </div>
</section>