@model BiPro_Analytics.Models.FactorRiesgo

@{
    ViewData["Title"] = "Create";
}

<section id="trabajadores" class="d-flex align-items-cente min-vh-100">
    <div class="container">

        <h1>Cuestionario de factores de riesgos</h1>

        <hr />

        @if (User.IsInRole("Trabajador"))
        {
            <div>
                <a asp-action="Index">Ver cuestionarios llenados</a>
            </div>
            <hr />
        }


    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
        </div>
        <div class="row">
            <p><strong>¿Tienes alguno de los factores de riesgo? Marque las casillas correspondientes</strong></p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input case1" asp-for="Diabetes" /> @Html.DisplayNameFor(model => model.Diabetes)
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input case1" asp-for="Hipertension" /> @Html.DisplayNameFor(model => model.Hipertension)
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input case1" asp-for="Asma" /> @Html.DisplayNameFor(model => model.Asma)
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input case1" asp-for="SobrePeso" /> @Html.DisplayNameFor(model => model.SobrePeso)
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input case1" asp-for="Obesidad" /> @Html.DisplayNameFor(model => model.Obesidad)
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input case1" asp-for="EnfermedadAutoinmune" /> @Html.DisplayNameFor(model => model.EnfermedadAutoinmune)
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input case1" asp-for="EnfermedadCorazon" /> @Html.DisplayNameFor(model => model.EnfermedadCorazon)
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input case1" asp-for="Cancer" /> @Html.DisplayNameFor(model => model.Cancer)
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input case1" asp-for="EPOC" /> @Html.DisplayNameFor(model => model.EPOC)
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" id="unSelectAll" /> Ninguno de los anteriores
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <p><strong>Marque las casillas correspondientes si consume alcohol regularmente, tabaquismo o drogas.</strong></p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Tabaquismo" /> @Html.DisplayNameFor(model => model.Tabaquismo)
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="ConsumoAlcohol" /> @Html.DisplayNameFor(model => model.ConsumoAlcohol)
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="FarmacosDrogas" /> @Html.DisplayNameFor(model => model.FarmacosDrogas)
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <p><strong>En caso de ser mujer marque la casilla si usted está embarazada.</strong></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Embarazo" /> @Html.DisplayNameFor(model => model.Embarazo)
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <p><strong>¿Cuál es el tipo de casa con la cuentas?</strong></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @*<label asp-for="TipoCasa" class="control-label"></label>*@
                    <select asp-for="TipoCasa">
                        <option selected disabled>Seleccionar opción</option>
                        <option value=1>1. Es mi casa y solo vive una familia, la mía.</option>
                        <option value=2>2. Es casa de mis papás o algún otro familiar y vivimos ambas familias</option>
                        <option value=3>3. En una misma casa, se ampliaron cuartos y pisos y viven más de 2 familias pero en casas separadas</option>
                        <option value=4>4. En un mismo terreno se contruyeron multiples casas con distancias entre sí y vivimos varias familias todos familiares</option>
                    </select>
                    <span asp-validation-for="TipoCasa" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <p><strong>En caso de haber respondido las opciones 3, 4 o 5 de la pregunta anterior, por favor responde cuántas personas en total conviven en el mismo terreno o edificio, aunque sean de familias diferentes o no estén en mucho contacto.</strong></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @*<label asp-for="NoPersonasTerreno" class="control-label"></label>*@
                    <input asp-for="NoPersonasTerreno" class="form-control" />
                    <span asp-validation-for="NoPersonasTerreno" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <p><strong>¿Cuántas personas conviven en la misma casa? Aquí menciona a tu familia nuclear, con los vives dentro de la misma casa, incluyéndote a ti mismo.</strong></p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @*<label asp-for="NoPersonasCasa" class="control-label"></label>*@
                    <input asp-for="NoPersonasCasa" class="form-control" />
                    <span asp-validation-for="NoPersonasCasa" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <p><strong>¿Cómo te transportas al trabajo? </strong></p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @*<label asp-for="TipoTransporte" class="control-label">Seleccione el tipo de transporte</label>*@
                    <select asp-for="TipoTransporte">
                        <option selected disabled>Seleccionar opción</option>
                        <option>Vehículo Propio</option>
                        <option>Caminando</option>
                        <option>Autobús</option>
                        <option>Metro</option>
                        <option>Taxi o Uber</option>
                        <option>Autobus de Empresa</option>
                        <option>Comparto automóvil con otro empleado</option>
                        <option>Combi</option>
                    </select>
                    <span asp-validation-for="TipoTransporte" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <p><strong>¿Qué características tiene el espacio dónde laboras en tu empresa? Describe el espacio físico del área de tu empresa, aunque estés haciendo home office.</strong></p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @*<label asp-for="EspacioTrabajo" class="control-label">Tipo de espacio de trabajo</label>*@
                    <select asp-for="EspacioTrabajo">
                        <option selected disabled>Seleccionar opción</option>
                        <option>Espacio abierto</option>
                        <option>Salón amplio</option>
                        <option>Cuarto</option>
                    </select>
                    <span asp-validation-for="EspacioTrabajo" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="row">
            <p><strong>¿Cuál es el tipo de ventilación que tienen en tu área de trabajo? </strong></p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @*<label asp-for="TipoVentilacion" class="control-label"></label>*@
                    <select asp-for="TipoVentilacion">
                        <option selected disabled>Seleccionar opción</option>
                        <option>No se cuentan con ventanas o las ventanas se mantienen cerradas y no tenemos extractor de aire o aire acondicionado</option>
                        <option>No se cuentan con ventanas o las ventanas se mantienen cerradas pero tenemos extractor de aire o aire acondicionado</option>
                        <option>Se cuentan con ventanas y están abiertas</option>
                        <option>Se cuentan con ventanas abiertas y además contamos con ventilador o extractor</option>
                    </select>
                    <span asp-validation-for="TipoVentilacion" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <p><strong></strong></p>
        </div>

        <div class="row">
            <p><strong>¿Cómo es el contacto que mantienes con otras personas debido a tu función y espacio de trabajo en tu empresa?</strong></p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @*<label asp-for="ContactoLaboral" class="control-label">Distancia con sus compañeros</label>*@
                    <select asp-for="ContactoLaboral">
                        <option selected disabled>Seleccionar opción</option>
                        <option>Mantengo contacto físico con otras personas</option>
                        <option>Mantengo una distancia mayor de 1.5 metros</option>
                        <option>Mantengo una distancia menor de 1.5 metros</option>
                    </select>
                    <span asp-validation-for="ContactoLaboral" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <p><strong>¿Cuánto tiempo estoy en contacto con otras personas en mi lugar de trabajo? Responda el mayor tiempo con el que convives con cualquier persona en tu centro de trabajo.</strong></p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input asp-for="TiempoContacto" class="form-control" />
                    <span asp-validation-for="TiempoContacto" class="text-danger"></span>
                </div>
            </div>
        </div>

        @if (!User.IsInRole("Trabajador"))
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdTrabajador" class="control-label">Trabajador del cuestionario</label>
                        @if (ViewBag.Trabajadores != null)
                        {
                            <select asp-for="IdTrabajador" asp-items="@(new SelectList(@ViewBag.Trabajadores,"Id","Trabajador"))">
                                <option selected disabled>Seleccionar opción</option>
                            </select>
                        }
                        else
                        {
                            <input asp-for="IdTrabajador" class="form-control" />
                        }
                        <span asp-validation-for="IdTrabajador" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Ingresar datos" class="btn btn-primary" />
        </div>
    </form>

        @if (User.IsInRole("Admin") || User.IsInRole("AdminEmpresa"))
        {
            <div>
                <a asp-action="Index">Regresar a la lista</a>
            </div>
        }

    </div>
</section>

<script>
    $("#unSelectAll").on("click", function () {
        $(".case1").prop("checked", false);
    });

    $(".case1").on("click", function () {
        if ($(".case").length == $(".case:checked").length) {
            $("#unSelectAll").prop("checked", false);
        } else {
            $("#unSelectAll").prop("checked", true);
        }
    });

</script>

