@model BiPro_Analytics.Models.PruebaInterna

@{
    ViewData["Title"] = "Create";
}

<section id="trabajadores" class="d-flex align-items-cente min-vh-100">
    <div class="container">

        <h1>Cuestionario de resultados de pruebas</h1>
        <hr />

        @if (User.IsInRole("Trabajador"))
        {
            <div>
                <a asp-action="Index">Ver cuestionarios llenados</a>
            </div>
            <hr />
        }

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <p><strong>¿Cuándo fui diagnosticado con COVID-19 o como sospechoso?</strong></p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="FechaDiagnostico" class="control-label"></label>
                    <input asp-for="FechaDiagnostico" class="form-control" />
                    <span asp-validation-for="FechaDiagnostico" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Lugar" class="control-label">¿En dónde me dieron el diagnóstico?</label>
                    <input asp-for="Lugar" class="form-control" />
                    <span asp-validation-for="Lugar" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="TipoPrueba" class="control-label"></label>
                    <select asp-for="TipoPrueba">
                        <option selected disabled>Seleccionar opción</option>
                        <option value="1">PCR</option>
                        <option value="2">Rápida en sangre</option>
                        <option value="3">Rápida con pinchazo de dedo</option>
                        <option value="4">Rápida nasal</option>
                        <option value="5">Tomografía</option>
                        <option value="6">Diagnostico Médico</option>
                    </select>
                    <span asp-validation-for="TipoPrueba" class="text-danger"></span>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label asp-for="Resultado" class="control-label"></label>
                    <select asp-for="Resultado">
                        <option selected disabled>Seleccionar opción</option>
                        <option>Positivo</option>
                        <option>Negativo</option>
                    </select>

                    <span asp-validation-for="Resultado" class="text-danger"></span>
                </div>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-3">
                <label asp-for="UbicacionActual" class="control-label">Ubicación</label>
                <select class="form-control" asp-for="UbicacionId" asp-items="@ViewBag.Ubicaciones">
                    <option selected disabled>Seleccionar opción</option>
                </select>
                <span asp-validation-for="UbicacionId" class="text-danger"></span>
            </div>
            <div class="col-md-9"></div>
        </div>

        @if (ViewBag.Unidades != null)
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdUnidad" class="control-label">Unidad</label>
                        <select asp-for="IdUnidad" asp-items="@(new SelectList(@ViewBag.Unidades, "Id", "Unidad"))">
                            <option selected disabled>Seleccionar opción</option>
                        </select>
                    </div>
                </div>
            </div>
        }

        @if (ViewBag.Areas != null)
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdArea" class="control-label">Área</label>
                        <select asp-for="IdArea" asp-items="@(new SelectList(@ViewBag.Areas, "Id", "Area"))">
                            <option selected disabled>Seleccionar opción</option>
                        </select>
                    </div>
                </div>
            </div>
        }
        <hr />
        @if (!User.IsInRole("Trabajador"))
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdTrabajador" class="control-label">Trabajador del cuestionario</label>
                        @if (ViewBag.Trabajadores != null)
                        {
                            <select asp-for="IdTrabajador" asp-items="@(new SelectList(@ViewBag.Trabajadores,"Id","Trabajador"))">
                                <option selected disabled>Seleccionar opción</option>
                            </select>
                        }
                        else
                        {
                            <input asp-for="IdTrabajador" class="form-control" />
                        }
                        <span asp-validation-for="IdTrabajador" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

        @if (User.IsInRole("Admin") || User.IsInRole("AdminEmpresa"))
        {
            <div>
                <a asp-action="Index">Regresar a la lista</a>
            </div>
        }

    </div>
</section>
