@model IEnumerable<BiPro_Analytics.Models.PruebaInterna >
@using BiPro_Analytics.UnParo
@using BiPro_Analytics.Models.Files
@inject Util util


@{
    ViewData["Title"] = "Index";
}


<section id="trabajadores" class="d-flex align-items-cente min-vh-100">
    <div class="container">

        <h1>Control de pruebas Covid19 de Mi Red Medica</h1>
        <p>
            <a asp-action="Create">Crear Nuevo</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaDiagnostico)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lugar)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoPrueba)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Resultado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdTrabajador)
                        Nombre trabajador
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UbicacionActual)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Unidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Area)
                    </th>
                    <th>

                    </th>
                    <th>
                        Subir Archivos
                    </th>
                    <th>
                        Descargar Archivos
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaDiagnostico)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lugar)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoPrueba)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Resultado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trabajador.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.UbicacionActual.Descripcion)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(model => item.Unidad.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Area.Nombre)
                        </td>
                        <td style="width:50%">
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                            @if (!User.IsInRole("Trabajador"))
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                            }
                        </td>
                        <td style="width:100%">
                            <div class="row">
                                <form method="post" enctype="multipart/form-data" asp-controller="PruebasInternas" asp-action="SubirArchivos" asp-route-id="@item.Id">
                                    <div class="form-group">
                                        <label> Selecciona Archivo</label>
                                        <input class="form-control" name="files" multiple="multiple" type="file" />
                                    </div>
                                    <div class="form-group">
                                        <input class="btn btn-success" type="submit" value="Subir" />
                                    </div>
                                </form>
                            </div>
                        </td>
                        <td>
                            @{
                                IEnumerable<Archivos> archivos = new List<Archivos>();

                                archivos = await util.GetArchivosAsync(item.Id);
                                foreach (var i in archivos)
                                {
                                    <a href="@i.Url">@i.NombreArchivo</a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a asp-action="PreIndex">Regresar</a>
    </div>
</section>