@model BiPro_Analytics.Models.RiesgosTrabajador

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RiesgosTrabajador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaTrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaTrabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoTransporte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoTransporte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadPersonas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadPersonas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosticoCovid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagnosticoCovid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactoCovid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactoCovid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mas65)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mas65)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obesidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obesidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Embarazo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Embarazo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fumador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fumador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CigarrosDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CigarrosDia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AniosFumar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AniosFumar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diabetes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diabetes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hipertension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hipertension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnfermedadCronica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnfermedadCronica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreECronica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreECronica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rinitis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rinitis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinusitis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinusitis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CirugiaNasal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CirugiaNasal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rinofaringea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rinofaringea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreRinofaringea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreRinofaringea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Picante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiebre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiebre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DolorCabeza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DolorCabeza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disnea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disnea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Irritabilidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Irritabilidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diarrea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diarrea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Escalofrios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Escalofrios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artralgias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artralgias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mialgias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mialgias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Odinofagia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Odinofagia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rinorrea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rinorrea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Polipnea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Polipnea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vómito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vómito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DolorAbdomina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DolorAbdomina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conjuntivitis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conjuntivitis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DolorToracico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DolorToracico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anosmia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anosmia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disgeusia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disgeusia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cianosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cianosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ninguna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ninguna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrabajoEnCasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrabajoEnCasa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrabajador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrabajador)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
