@model BiPro_Analytics.Models.RiesgosTrabajador

@{
    ViewData["Title"] = "Edit";
}

<section id="trabajadores" class="d-flex align-items-cente min-vh-100">
    <div class="container">
        <h1>Editar</h1>

        <h4>Riesgos Trabajador</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="AreaTrabajo" class="control-label"></label>
                        <input asp-for="AreaTrabajo" class="form-control" />
                        <span asp-validation-for="AreaTrabajo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TipoTransporte" class="control-label"></label>
                        <input asp-for="TipoTransporte" class="form-control" />
                        <span asp-validation-for="TipoTransporte" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CantidadPersonas" class="control-label"></label>
                        <input asp-for="CantidadPersonas" class="form-control" />
                        <span asp-validation-for="CantidadPersonas" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="DiagnosticoCovid" /> @Html.DisplayNameFor(model => model.DiagnosticoCovid)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactoCovid" class="control-label"></label>
                        <input asp-for="ContactoCovid" class="form-control" />
                        <span asp-validation-for="ContactoCovid" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Mas65" /> @Html.DisplayNameFor(model => model.Mas65)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Obesidad" /> @Html.DisplayNameFor(model => model.Obesidad)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Embarazo" /> @Html.DisplayNameFor(model => model.Embarazo)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Asma" /> @Html.DisplayNameFor(model => model.Asma)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Fumador" /> @Html.DisplayNameFor(model => model.Fumador)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="CigarrosDia" class="control-label"></label>
                        <input asp-for="CigarrosDia" class="form-control" />
                        <span asp-validation-for="CigarrosDia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AniosFumar" class="control-label"></label>
                        <input asp-for="AniosFumar" class="form-control" />
                        <span asp-validation-for="AniosFumar" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Diabetes" /> @Html.DisplayNameFor(model => model.Diabetes)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Hipertension" /> @Html.DisplayNameFor(model => model.Hipertension)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="EnfermedadCronica" /> @Html.DisplayNameFor(model => model.EnfermedadCronica)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="NombreECronica" class="control-label"></label>
                        <input asp-for="NombreECronica" class="form-control" />
                        <span asp-validation-for="NombreECronica" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Rinitis" /> @Html.DisplayNameFor(model => model.Rinitis)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Sinusitis" /> @Html.DisplayNameFor(model => model.Sinusitis)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="CirugiaNasal" /> @Html.DisplayNameFor(model => model.CirugiaNasal)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Rinofaringea" /> @Html.DisplayNameFor(model => model.Rinofaringea)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="NombreRinofaringea" /> @Html.DisplayNameFor(model => model.NombreRinofaringea)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="Picante" class="control-label"></label>
                        <input asp-for="Picante" class="form-control" />
                        <span asp-validation-for="Picante" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Fiebre" /> @Html.DisplayNameFor(model => model.Fiebre)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Tos" /> @Html.DisplayNameFor(model => model.Tos)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="DolorCabeza" /> @Html.DisplayNameFor(model => model.DolorCabeza)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Disnea" /> @Html.DisplayNameFor(model => model.Disnea)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Irritabilidad" /> @Html.DisplayNameFor(model => model.Irritabilidad)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Diarrea" /> @Html.DisplayNameFor(model => model.Diarrea)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Escalofrios" /> @Html.DisplayNameFor(model => model.Escalofrios)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Artralgias" /> @Html.DisplayNameFor(model => model.Artralgias)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Mialgias" /> @Html.DisplayNameFor(model => model.Mialgias)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Odinofagia" /> @Html.DisplayNameFor(model => model.Odinofagia)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Rinorrea" /> @Html.DisplayNameFor(model => model.Rinorrea)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Polipnea" /> @Html.DisplayNameFor(model => model.Polipnea)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Vómito" /> @Html.DisplayNameFor(model => model.Vómito)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="DolorAbdomina" /> @Html.DisplayNameFor(model => model.DolorAbdomina)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Conjuntivitis" /> @Html.DisplayNameFor(model => model.Conjuntivitis)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="DolorToracico" /> @Html.DisplayNameFor(model => model.DolorToracico)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Anosmia" /> @Html.DisplayNameFor(model => model.Anosmia)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Disgeusia" /> @Html.DisplayNameFor(model => model.Disgeusia)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Cianosis" /> @Html.DisplayNameFor(model => model.Cianosis)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Ninguna" /> @Html.DisplayNameFor(model => model.Ninguna)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="TrabajoEnCasa" /> @Html.DisplayNameFor(model => model.TrabajoEnCasa)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdTrabajador" class="control-label"></label>
                        <input asp-for="IdTrabajador" class="form-control" />
                        <span asp-validation-for="IdTrabajador" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Regresar a la lista</a>
        </div>


    </div>

</section><!-- End About Section -->

