@model IEnumerable<BiPro_Analytics.Models.RiesgosTrabajador>

@{
    ViewData["Title"] = "Index";
}

<section id="trabajadores" class="d-flex align-items-cente min-vh-100">
    <div class="container">
        <h1>Lista de riesgos</h1>

        <p>
            <a asp-action="Create">Crear nuevo</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AreaTrabajo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoTransporte)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CantidadPersonas)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiagnosticoCovid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactoCovid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mas65)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Obesidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Embarazo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Asma)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fumador)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CigarrosDia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AniosFumar)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Diabetes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hipertension)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EnfermedadCronica)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreECronica)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rinitis)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sinusitis)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CirugiaNasal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rinofaringea)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreRinofaringea)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Picante)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fiebre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tos)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DolorCabeza)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Disnea)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Irritabilidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Diarrea)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Escalofrios)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Artralgias)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mialgias)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Odinofagia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rinorrea)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Polipnea)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vómito)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DolorAbdomina)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Conjuntivitis)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DolorToracico)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Anosmia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Disgeusia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cianosis)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ninguna)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TrabajoEnCasa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdTrabajador)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AreaTrabajo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoTransporte)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CantidadPersonas)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiagnosticoCovid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactoCovid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mas65)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Obesidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Embarazo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Asma)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fumador)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CigarrosDia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AniosFumar)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diabetes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hipertension)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EnfermedadCronica)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreECronica)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rinitis)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sinusitis)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CirugiaNasal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rinofaringea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreRinofaringea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Picante)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fiebre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DolorCabeza)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Disnea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Irritabilidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diarrea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Escalofrios)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Artralgias)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mialgias)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Odinofagia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rinorrea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Polipnea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vómito)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DolorAbdomina)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Conjuntivitis)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DolorToracico)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Anosmia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Disgeusia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cianosis)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ninguna)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrabajoEnCasa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdTrabajador)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</section><!-- End About Section -->

