@model BiPro_Analytics.Models.Empresa

@{
    ViewData["Title"] = "Details";
}

<section id="empresas" class="d-flex align-items-center min-vh-100">
    <div class="container">
        <h1>Detalles</h1>

        <div>
            <h4>Empresa</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NombreEmpresa)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NombreEmpresa)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.GiroEmpresa)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GiroEmpresa)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SubGiroEmpresa)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SubGiroEmpresa)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Estado)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Ciudad)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Ciudad)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CP)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CP)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CantEmpleados)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CantEmpleados)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MinSueldo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MinSueldo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MaxSueldo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MaxSueldo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FechaIngreso)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FechaIngreso)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.HorasLaborales)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.HorasLaborales)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DiasLaborales)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DiasLaborales)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.IdEmpresa">Editar</a> |
            <a asp-action="Index">Regresar a la lista</a>
        </div>

    </div>
</section>

