@model PROWAnalytics.Models.Reincorporado

@{
    ViewData["Title"] = "Create";
}

<section id="trabajadores" class="d-flex align-items-cente min-vh-100">
    <div class="container">

        <h1>Cuestionario de reincorporados</h1>
        <hr />

        @if (User.IsInRole("Trabajador"))
        {
            <div>
                <a asp-action="Index">Ver cuestionarios llenados</a>
            </div>
            <hr />
        }

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FechaDiagnostico" class="control-label"></label>
                        <input asp-for="FechaDiagnostico" class="form-control" />
                        <span asp-validation-for="FechaDiagnostico" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaTerminoIncapacidad" class="control-label"></label>
                        <input asp-for="FechaTerminoIncapacidad" class="form-control" />
                        <span asp-validation-for="FechaTerminoIncapacidad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaRegresoTrabajo" class="control-label"></label>
                        <input asp-for="FechaRegresoTrabajo" class="form-control" />
                        <span asp-validation-for="FechaRegresoTrabajo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiasIncapacidad" class="control-label"></label>
                        <input asp-for="DiasIncapacidad" class="form-control" />
                        <span asp-validation-for="DiasIncapacidad" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="EtudiosSecuelasPulmonares" /> @Html.DisplayNameFor(model => model.EtudiosSecuelasPulmonares)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="EtudiosSecuelasNoPulmonares" /> @Html.DisplayNameFor(model => model.EtudiosSecuelasNoPulmonares)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="FisicamenteCapacitado" /> @Html.DisplayNameFor(model => model.FisicamenteCapacitado)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="MotivadoTrabajo" /> @Html.DisplayNameFor(model => model.MotivadoTrabajo)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="MedicoSeguimiento" /> @Html.DisplayNameFor(model => model.MedicoSeguimiento)
                        </label>
                    </div>
                    @if (!User.IsInRole("Trabajador"))
                    {
                        <div class="form-group">
                            <label asp-for="IdTrabajador" class="control-label">Trabajador del cuestionario</label>
                            @if (ViewBag.Trabajadores != null)
                            {
                                <select asp-for="IdTrabajador" asp-items="@(new SelectList(@ViewBag.Trabajadores,"Id","Trabajador"))">
                                    <option selected disabled>Seleccionar opción</option>
                                </select>
                            }
                            else
                            {
                                <input asp-for="IdTrabajador" class="form-control" />
                            }
                            <span asp-validation-for="IdTrabajador" class="text-danger"></span>
                        </div>

                    }
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        @if (User.IsInRole("Admin") || User.IsInRole("AdminEmpresa"))
        {
            <div>
                <a asp-action="Index">Regresar a la lista</a>
            </div>
        }

    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
