@model IEnumerable<PROWAnalytics.Models.Trabajador>

@{
    ViewData["Title"] = "Index";
}

<section id="trabajadores" class="d-flex align-items-cente min-vh-100">
    <div class="container">
        <h1>Lista de trabajadores</h1>

        <p>
            <a asp-action="Create">Ingresar nuevo</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Genero)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Edad)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Correo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Calle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumeroExt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumeroInt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ciudad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaNacimiento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaIngreso)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Empresa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Unidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Area)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genero)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Edad)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Calle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroExt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroInt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ciudad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaNacimiento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaIngreso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Empresa.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unidad.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Area.Nombre)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdTrabajador">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.IdTrabajador">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.IdTrabajador">Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</section>