@model IEnumerable<BiPro_Analytics.Models.ReporteContagio>

@{
    ViewData["Title"] = "Index";
}

<section id="trabajadores" class="d-flex align-items-cente min-vh-100">
    <div class="container">
        <h1>Lista reportes de contagios</h1>

        <p>
            <a asp-action="Create">Crear Nuevo</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoPrueba)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumeroPruebas)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Positivos)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Negativos)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumeroSemana)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaRegistro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Empresa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Unidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Area)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoPrueba)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroPruebas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Positivos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Negativos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroSemana)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaRegistro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unidad.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Area.Nombre)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</section>