@model IEnumerable<BiPro_Analytics.Models.Incapacidad>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHoraFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotivoIncapacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoIncapacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeEncuentraEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTrabajador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotivoIncapacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoIncapacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeEncuentraEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTrabajador)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdIncapacidad">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdIncapacidad">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdIncapacidad">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
