@model BiPro_Analytics.Models.UsuarioTrabajador

@{
    ViewData["Title"] = "Details";
}

<section id="adminRelaciones" class="d-flex  min-vh-100">
    <div class="container">
        <h1>Details</h1>

        <div>
            <h4>UsuarioTrabajador</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UserId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TrabajadorId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TrabajadorId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CodigoEmpresa)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CodigoEmpresa)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</section>