@model IEnumerable<BiPro_Analytics.Models.RegistroPrueba>

@{
    ViewData["Title"] = "Index";
}

<section>
    <div class="container">
        <h1>Lista de pruebas</h1>

        <p>
            <a asp-action="Create">Crear nuevo</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Temperatura)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PorcentajeO2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoSangre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.APOlfativa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.APGustativa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mas15cm)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Menos15cm)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PIE3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PIE4)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PIE5)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Discriminacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Diagnostico)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ResultadoIgM)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ResultadoIgG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ResultadoPCR)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdTrabajador)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Temperatura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PorcentajeO2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoSangre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.APOlfativa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.APGustativa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mas15cm)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Menos15cm)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PIE3)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PIE4)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PIE5)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discriminacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diagnostico)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ResultadoIgM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ResultadoIgG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ResultadoPCR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdTrabajador)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</section>

